.containerOuter
{
    width: 100vw;
    height: 100vh;
}
.container
{
    margin: 0 auto;

    width: 1000px;
    height: 100%;

    display: grid;
    grid-template-columns: 40% 5% 55%;
    grid-template-rows: 95% 5%;
}
.containerInner
{
    width: 100%;
    text-align: center;
}

.pointContainerGrid
{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
}
.pointContainer
{
    height: 100%;
    width: 100%;

    display: grid;
    place-content: center;
}
.point
{
    width: var(--pointSize);
    height: var(--pointSize);
    border-radius: calc(var(--pointSize) / 2);
}
.cdk-drag-placeholder /*This hides the item which is being dragged from its original place*/
{ opacity: 0; }
.pointContainerGrid.cdk-drop-dragging .pointContainer:not(.cdk-drag-placeholder) { /*This is the dragging animation*/
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.checkButton
{
    width: 400px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: skyblue;

    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
.checkButton:active
{
    background-color: rgb(76, 156, 187);
}

.previousPointRow
{
    width: 100%;
    height: 50px;

    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100%;
}

.point.previous
{
    width: var(--pointSizePrevious);
    height: var(--pointSizePrevious);
    border-radius: calc(var(--pointSizePrevious) / 2);
}