.container
{
    width: 100vw;
    height: 100vh;

    display: grid;
    place-content: center;
}
.containerInner
{
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
}
.pointContainerGrid
{
    width: calc(var(--pointContainerSize) * 5);
    height: var(--pointContainerSize);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.pointContainer
{
    display: grid;
    place-content: center;

    height: var(--pointContainerSize);
    width: var(--pointContainerSize);
}
.point
{
    width: var(--pointSize);
    height: var(--pointSize);
    border-radius: calc(var(--pointSize) / 2);
}

/* THE SHADOW WHEN DRAGGING IS CAUSED BY THE BELOW CSS CODE (Don't need it anymore as it looks better without it) */
/*
.cdk-drag-preview {
box-sizing: border-box;
border-radius: calc(var(--pointContainerSize) / 4);
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
*/
.cdk-drag-placeholder /*This hides the item which is being dragged from its original place*/
{ opacity: 0; }
.pointContainerGrid.cdk-drop-dragging .pointContainer:not(.cdk-drag-placeholder) { /*This is the dragging animation*/
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.checkButton
{
    width: 400px;
    height: 60px;

    border: none;
    border-radius: 20px;
    background-color: skyblue;

    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
.checkButton:active
{
    background-color: rgb(76, 156, 187);
}
  